.ds_pagination
{
	display: flex;
	justify-content: center;
	align-items: center;
}

	.ds_pagination__item 
	{
		margin:0 10px;
		cursor: pointer;
	}

	.ds_pagination__item--active
	{
		color: red;
	}

	.ds_pagination__item--disable
	{
		display: none;
	}